[rhel-7-server-rpms]
name=rhel-7-server-rpms
baseurl=http://192.168.50.11/repos/rhel-7-server-rpms
gpgcheck=0
enable=1

[rhel-7-server-rhv-4.0-rpms]
name=rhel-7-server-rhv-4.0-rpms
baseurl=http://192.168.50.11/repos/rhel-7-server-rhv-4.0-rpms
gpgcheck=0
enable=1
       
[rhel-7-server-supplementary-rpms]
name=rhel-7-server-supplementary-rpms
baseurl=http://192.168.50.11/repos/rhel-7-server-supplementary-rpms
gpgcheck=0
enable=1
