<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ansible Deployed WEB</title>
  <meta name="description" content="Ansible Created Content">
  <meta name="Welcome" content="Ansible">

</head>

<body>
    <h1>Ansible has done its job - Welcome to apache on {{ inventory_hostname }}</h1>
</body>
</html>
